@import "../../../styles-variables.scss";

.nyt-navbar {
    margin: 0 1rem;
    box-shadow: $card-2;

    ul {
       margin: 0;
       padding: 0;

       display: flex;
       list-style-type: none;
       justify-content: center;
       align-items: center;

       font-size: 1rem;
       height: 40px;

       background-color: #333; 
       color: #fff;
       
       li {
        cursor: pointer;
        padding: 0.5rem;

        &.active-subsection {
            background: #2f7395;
        }

       }
    }
}