.app-section {
    display: flex;

    .nav-bar {
        flex: 2;
        min-height: calc(100vh);
        background-color: #333;
        color: #fff; 
    }

    .main-section {
        flex: 10;
        min-height: calc(100vh);

        .content-section {

        }
    }

}