/* You can add global styles to this file, and also import other style files */
// https://medium.com/@tomastrajan/how-to-build-responsive-layouts-with-bootstrap-4-and-angular-6-cfbb108d797b

@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
  
body {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: $card-1;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
